.bar {
    &-top {
        top: 0;
    }
    &-bottom {
        position: absolute;
        bottom: 0;
    }
    &-black {
        background-color: black;
        height: 10vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}