.bar {
    &-top {
        // position top bar
        top: 0;
    }
    &-bottom {
        // position bottom bar
        position: absolute;
        bottom: 0;
    }
    &-black {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}