@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Bonbon|Caveat');
@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');
// font-family: 'Staatliches', cursive;
// font-family: 'Raleway', sans-serif;

@import './bar.scss';
@import './projects.scss';
@import './project.scss';
@import './title.scss';
@import './scene.scss';


.App {
    text-align: center;
    height: 100vh;
    display: grid;
    //places cinematic black bars 
    grid-template-rows: 10vh 80vh 10vh;
    //make sure that the height of the black bars (10vh) is equal to the height of the opening scene bars AFTER transition
    overflow: hidden;
}

.content {
    font-family: 'Special Elite', cursive;
    height: 80vh;
    //flex to place title div at the top, and carousel underneath it to fit the rest of parent container
    display: flex;
    flex-flow: column;
}

.carousel {
    padding: 1.5%;
    height: inherit;
    display: flex;
    opacity: 0;
    transition: opacity 3s;
}