@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Special+Elite');
@import './bar.scss';
@import './projects.scss';
@import './project.scss';
@import './title.scss';


.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

.content {
    font-family: 'Special Elite', cursive;
    height: 80vh;
    display: grid;
    grid-template-rows: 15vh 65vh;
}