.project {
    &-slide {
        font-family: 'Staatliches', cursive;
        color: black;
        margin: 0 auto;
        width: 65vw;
        background-size: cover;
        background-position: center; 
        &-cover {
            opacity: 1;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            overflow: auto;
            margin: 0 auto;
            &-title {
                padding-top: 5%;
                font-size: 2rem;
                text-align: middle;
            }
            &-tech {
                padding-bottom: 5%;
            }
            &-description {
                font-family: 'Raleway', sans-serif;
                font-size: 1.25;
                margin: 0 5% 2.5% 5%;
            }
            &-link {
                text-decoration: none;
                margin: 0 2.5%;
                overflow: auto;
            }
        }
    }
}