.projects {
    &-container {
        color: white;
        padding: 1.5%;
        width: 65vw;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
    }
    &-display {
        background-color: green;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.815);
        background-position: left; 
        background-size: cover;
        background-repeat: no-repeat;
        &:hover {
            opacity: 0.75;
        }
    }
}