.projects {
    &-container {
        color: white;
        height: 60vh;
        width: 60vw;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
    }
    &-display {
        background-color: green;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.815);
        &:hover {
            opacity: 0.5;
        }
    }
}