// 13vh
.title {
    padding: 1vh;
    height: fit-content;
    &-title {
        margin-bottom: 0;
    }
    &-description {
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0;
    }
}