// 13vh
.title {
    padding: 1vh;
    height: fit-content;
    &-title {
        margin-bottom: 0;
    }
    &-description {
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0;
        opacity: 0;
        transition: opacity 2s;

    }
    &-links {
        text-decoration: none;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0.5vw;
    }
}